main = ".open-next/worker.js"
name = "portifolio"
compatibility_date = "2026-01-20"
compatibility_flags = ["nodejs_compat"]
workers_dev = true
preview_urls = true
[assets]
directory = ".open-next/assets"
binding = "ASSETS"
[[routes]]
pattern = "kgmats.cc"
custom_domain = true
[observability]
[observability.logs]
enabled = false
invocation_logs = true
